body{
width: 960px;
        margin: auto;
        font-family: 'Noto Serif', serif; 
}
header{
display: grid;
grid-template-columns: auto auto;
align-items: center;
border-bottom: 20px ridge #706d6d;

}
nav img{

    float: right;
    margin-right: 5px;

}
 h1 {
    display: inline-block;
    font-weight: bold;
    font-family: 'Yellowtail';
    font-size: 30px;
    text-align:unset;
    margin: 0px
}
h2{
    font-family: 'Strait', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 40px;

}
p{
         color: rgb(179, 127, 127);   
          margin-top: 0%;

}
main img{
    width: 100%;
}
.recipe{
    text-indent: 20px;
    width: 100%;
}
form{
    display: grid;
grid-template-columns: auto auto;
      }
ul{
    position: absolute;
    bottom:  -75%;
    z-index: 1;
}
li{
    list-style: none;
    line-height:35px;
}



.throw{
text-decoration: line-through;
}
footer{
    border-top: 20px ridge #706d6d;
    margin: 20px;
}
 .finel{
    display: inline-block;
    padding-bottom: 10px;
}
 footer img{
padding:  20px;
    float: left;
    margin-right: 5px;

}
h4{
    font-family: 'Strait', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;

}
button{
    color: floralwhite;
    background-color: rgb(177, 81, 81);
    float: right;
    width: 150px;
    height: 50px;
}
.img3{
padding-right: 10px;

}
.finalimg{
    display: block;
  margin-left: 45%;
  margin-right: 55%;
  
}
.end p{
text-transform: capitalize;
text-align: center;
}
.left{
margin-left: 500px;
}